@font-face { font-family: reg; src: url('/images/RobotoMono-Regular.ttf')}
@font-face { font-family: lite; src: url('/images/RobotoMono-Light.ttf')}
@font-face { font-family: thin; src: url('/images/RobotoMono-Thin.ttf')}
@font-face { font-family: med; src: url('/images/RobotoMono-Medium.ttf')}
@font-face { font-family: tag; src: url('/images/GloriaHallelujah.ttf')}

.pntcursor {cursor:pointer;}

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

html {}

body {
  font-size: 1.2rem;
  font-family: reg; font-weight:normal; line-height: 2.4rem; 
  color: #000;
  background: #8a8a8a;
}

header {
  border-bottom: 0.2rem solid #000;
  font-size: 1.2rem;
}

nav {
  font-family: thin;
}

small {
  font-size: 1.2rem;
  font-family: tag; font-weight:normal;  
}

.fork {
  z-index:10;
  position: fixed;
  bottom: 15.5rem; 
  height: 6rem;
  width: 10rem;
  background: url(/images/fork.png) bottom right no-repeat;
  background-size: 10rem 6rem;
  color: #fff;
  text-align: center;
}
.fork small {
  line-height: 4.4rem; 
}
.fork small a {
  color: #ccc; 
}
.fork small a:hover {
  color: #fff; 
}
.fork small a:active {
  color: #e7002d; 
}
.fork .tilt {
 -webkit-transform: rotate(-6deg);transform: rotate(-6deg);
}

.bottom {
  bottom: 0;
  z-index:4;
  position: fixed;
  border-top: 0.2rem solid #000;
  height: 14rem;
  background: url(/images/lykrysh-300.png) bottom right no-repeat;
  background-size: 14rem 14rem;
}

footer {
  margin-top: 1rem;
  padding: 1.2rem 0;
  font-size: 1.2rem;
  color: #000;
}

main {
  margin-top: 0;
  margin-bottom: 17rem;
  min-height: calc(100vh - 14rem);
}

main a, footer a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #000;
  outline: 0;
}

main a:hover, footer a:hover {
  color: #ccc;
  background-color: #000;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

main a:active, footer a:active {
  color: #fff;
  outline: 0;
  cursor: pointer;
 -webkit-transform: scale(1.05);transform: scale(1.05);
}

.shade {
  bottom: 0;
  z-index:3;
  position: fixed;
  background-color: #8a8a8a;
  opacity: 0.8;
  filter: alpha(opacity=80);
  height: 14rem;
  width:100%;
}

.boldname {
  font-family: med;
}

.grey {
  font-family: lite;
  color: #555;
}
.grey a {
  border-bottom: 2px solid #777;
  color: #555;
}
.grey a:hover {
  border-bottom: 2px solid #000;
  color: #ddd;
}
.grey a:active {
  color: #fff;
}

h1 {
  font-size: 1.2rem;
  font-family: med; font-weight:normal; line-height: 3.2rem; 
  color: #eee;
}

h2 {
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  margin-left: -3.2rem;
}

article .header {
  font-size: 1.2rem;
  font-family: thin;
}

.logo a {
  color: #000;
  text-decoration: none;
  outline: 0;
}

.logo a:hover{
  color: #eee;
  background: none;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
}

.logo a:active {
  color: #fff;
  background: none;
  outline: 0;
  cursor: pointer;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  .bottom {
    width: 90%;
    margin: 0;
    padding: 0;
  }
  header {
    margin: 0.3rem 0 2rem;
    padding: 1.0rem 0 0rem;
  }
  nav {
    padding-bottom: 1.6rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 0.8rem auto 0.4rem;
  }
  .logo a {
    font-size: 1.8rem;
  }
  nav {
    line-height: 1.6;
  }
  .fork {
    right: 5%;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  .bottom {
    width: 90%;
    margin: 0;
    padding: 0;
  }
  header {
    margin: 0.3rem 0 2rem;
    padding: 1.0rem 0 0rem;
  }
  nav {
    padding-bottom: 1.6rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 0.8rem auto 0.4rem;
  }
  .logo a {
    font-size: 1.8rem;
  }
  nav {
    margin: 0 0;
  }
  .fork {
    right: 5%;
  }
}

@media (min-width: 60rem) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  .bottom {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0.5rem 0 2rem;
    padding: 1.2rem 0 1.4rem;
  }
  nav {
    margin: 0;
    padding-bottom: 0rem;
    text-align: right;
  }
  nav {
    margin: 0 0 0 1.2rem;
  }
  footer {
    text-align: left;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.2rem;
  }
  .fork {
    right: calc(50% - 30rem)
  }
}
