@font-face { font-family: tag; src: url('/images/GloriaHallelujah.ttf')}

.pntcursor {cursor:pointer;}

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

small {
  font-size: 1.2rem;
  font-family: tag; font-weight:normal;  
}

.kwcontainer {
 line-height: 1.2rem;
 margin-bottom: 1.6rem;
 margin-left: -1px;
}

.kwpost { color: #8a8a8a; }
.kwpost a {
 cursor:pointer;
 display: inline-block;  
 margin: 6px 2px; padding-left:20px;padding-right:20px;padding-bottom:2px;padding-top:2px;
 -webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);
 -webkit-transition-duration: 0.3s;transition-duration: 0.3s;
 -webkit-transition-property: transform;transition-property: transform;
 border: 0; background: #a5a5a5;color:#000;
}

.kwpost a:hover {
 -webkit-transform: rotate(4deg);transform: rotate(4deg);
 background: #000;color: #ccc;
}

.kwpost a:active {
 -webkit-transform: scale(1.05) rotate(4deg);transform: scale(1.05) rotate(4deg);
 background: #000;color: #fff;
}